@{
    ViewData["Title"] = "Gallery";
}
<h1>@ViewData["Title"]</h1>

<p style="font-family:Times New Roman, Times, serif; font-style:italic;">This page will store state wise tourist places.</p>
